body{
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: sans-serif;
	background-image: url(https://i.pinimg.com/736x/23/01/ec/2301ec9da611babcbab59e9d5d954442.jpg); 

}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	background-color: #E6E6FA;

}