*{ padding: 0px; margin: 0px;  }

body {width:900px; margin: auto; }

header {background-color: #000080; font-family: verdana, arial, arial black}
header h1{color: #FDF5E6;padding: 20px; padding-bottom: 15px;}
header h3{color: #FDF5E6;padding: 20px; padding-bottom: 15px;}
header img{padding: 5px;padding-top: 0px;}

menu {background-color: #000000; height: 50px;}
menu ul {list-style: none; line-height: 50px}
menu ul li { float: left; width: 20%; text-align: center;}
menu ul li a{color: white; text-decoration: none; font-family: verdana; display: block;}
menu ul li a:hover{ background-color: yellow; color: black }

#link{ font-size: medium;background-color: #0000FF; }
article tr {color: #000000 }
article li {font-family: verdana;}

article h2 {font-family: verdana;font-style: italic;}
article image { width: 150px; margin: 0px 20px 0px 20px;}
#more{
	display: none;
}button{
	background-color:#000080 ;
	border: none;
	outline: none;
	color: white;
	font-size: 30px;
	padding: 5px;
}
footer {background-color: #000080; }
footer {text-align: center;color: white}